[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cowsay = "*"
autodoc = "*"
sphinx-autodoc-typehints = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
doit = "*"

[dev-packages]

[requires]
python_version = "3.13"
